# Django
SECRET_KEY=hell_world

DEBUG=True  # Develop

# Django
ALLOWED_HOSTS=example-service.onrender.com,localhost,127.0.0.1

# FLUTTER
FRONTEND_URL=http://example.com

# Develop DB
DATABASE_URL=postgres://devuser:Password@127.0.0.1:5432/db_name
